.fretboard-container{
    width: 1000px;
}

.table {
    border-spacing: 0;
    width: 100%;
}

table, tr {
    margin: 0;
    padding: 0;
}

table tr td {
    height: 32px;
    padding: 0;
    border-right: 1px solid black;
    vertical-align: middle;
    position: relative;  
    cursor: pointer;
}

table tr td:first-child {
    border-right: 4px solid rgba(0, 0, 0, 0.6);
}


table tbody tr td hr {
    width: 100%;
    margin: 0;
    padding: 0;
}

.note {
    display: inline-block;
    background-color: teal;
    border-radius: 50%;
    border: 1px solid black;
    width: 28px;
    height: 28px;
    position: absolute;
    top: 3px;
    left: 50%;
    transform: translateX(-50%);
    /* margin: 0 auto; */
    cursor: pointer;
    text-align: center;
    line-height: 28px;
    font-size: 20px;
}

.root{
    background-color: orange;
}

.third{
    background-color: olive;
}

.fifth{
    background-color: brown;
}

.seventh{
    background-color: grey;
}

.controls{
    margin-top: 35px;
}
 /* .controls form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
} */
.fretNumber{
    font-size: 8px;
}
