.partitions table {
    width: 100%;
    border-spacing: 10px;
}

.partitions .chord {
    width: 25%;
    height: 200px;
    border: 1px solid black;
    text-align: center;
    border-radius: 22px;
    box-shadow: 0px 0px 1px;
    padding: 0px;
}

.partitions .highlighted-chord {
    transition: font-size 0.5s ease;
    font-size: 64px;
}

.partitions .context-menu {
    background-color: #cd5c5c;
    width: 48px;
    height: 48px;
    text-align: center;
    line-height:40px;
    border-radius:  0 21px 0 0;
    border: 1px solid black;
    border-right: none;
    border-top: none;
    margin-left: auto;
}